.header-nav {
  margin: 0px 140px;
  padding: 30px 0px;
  @media only screen and (max-width: $bp-medium) {
    margin: 0px 60px;
  }
  &__links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    @media only screen and (max-width: $bp-medium) {
      gap: 10px;
    }

    & a {
      text-decoration: none;
      font-size: 1.95rem;
      font-weight: 300;
      color: var(--color-w-2);
      padding: 15px;
      transition: all 0.3s;
      @media only screen and (max-width: $bp-medium) {
        padding: 7.5px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        border-radius: 3px;
      }
    }
  }
  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    & img {
      cursor: pointer;
      margin: 15px;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

//FIRST CONTAINER
.first-container {
  display: flex;
  justify-content: center;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    position: absolute;
    top: 50%;
  }
  &__text {
    color: var(--color-w-1);
    font-size: 6.4rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  &__button {
    padding-top: 60px;
  }

  .font-l {
    font-weight: 300;
  }
}
.button-white {
  background-color: var(--color-w-2);
  padding: 20px 80px;
  position: relative;
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    background-color: #d8d7d7;
    color: var(--color-b-4);
  }
}

//OUR LOOKS
.look-pic {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1s;

  font-size: 6.4rem;
  font-weight: 300;
  color: var(--color-w-2);
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
  }
  &:hover {
    color: #9e9e9e;
    transition: all 0.3s;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      -webkit-transition: background-color 0.3s linear;
      -ms-transition: background-color 0.3s linear;
      z-index: 1;
    }
  }
}
.picture-text {
  z-index: 2;
}

// MIUMIU FASHION
.fashion-container {
  &__text {
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 140px;

    font-size: 5rem;
    letter-spacing: -0.5px;
  }
}

.fashion-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-b-3);
  border: transparent;

  &__texts {
    margin-left: 140px;
    padding-right: 60px;

    @media only screen and (max-width: $bp-largest) {
      margin-left: 70px;
      padding-right: 30px;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-left: 35px;
      padding-right: 15px;
      // padding-block: 60px;
    }
  }
  &__overline {
    display: inline-block;
    padding-bottom: 30px;

    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: var(--color-w-4);

    @media only screen and (max-width: $bp-largest) {
      font-size: 1rem;
    }
  }
  &__subtitle {
    font-size: 5rem;
    padding-bottom: 30px;
    color: var(--color-w-3);

    @media only screen and (max-width: $bp-largest) {
      font-size: 3rem;
    }
  }
  &__paragraph {
    font-size: 2rem;
    line-height: 32px;
    max-width: 800px;
    color: var(--color-w-2);
    @media only screen and (max-width: $bp-largest) {
      font-size: 1.5rem;
    }
  }
  &__photo {
  }
  &__photo img {
    display: block;

    @media only screen and (max-width: $bp-medium) {
      width: 80vh;
    }
    @media only screen and (max-width: $bp-medium-mb) {
      width: 64vh;
    }
  }
}
.fashion-card-white {
  background-color: var(--color-w-3);
  &__texts-white {
    padding-right: 140px;

    @media only screen and (max-width: $bp-largest) {
      padding-right: 50px;
      margin-left: 40px;
    }
  }
  &__overline-white {
    color: var(--color-b-1);
  }
  &__subtitle-white {
    color: var(--color-b2);
  }
  &__paragraph-white {
    color: var(--color-b3);
  }
  &__photo-white {
    order: -1;
  }
}

//products
.products-container {
  background-image: url("../img/bg-products.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 140px 90px 140px;

  @media only screen and (max-width: $bp-largest) {
    padding: 0px 140px;
    padding-bottom: 90px;
  }

  &__cards {
    display: flex;
    justify-content: space-evenly;
  }

  &__text {
    padding-top: 90px;
    padding-bottom: 60px;

    font-size: 5rem;
    letter-spacing: -0.5px;
    color: var(--color-w-3);
    font-weight: 500;
  }
}
.product-card {
  background-color: var(--color-b-3);
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;

  @media only screen and (max-width: $bp-largest) {
    & img {
      max-width: 220px;
    }
    max-width: 250px;
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.card-details {
  &__title {
    padding-top: 15px;
    color: var(--color-w-3);
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.25px;
  }

  &__paragraph {
    padding-block: 15px;
    font-weight: 300;
    color: var(--color-w-4);
    font-size: 2rem;
    letter-spacing: 0.5px;
  }
}

.product-card:nth-child(even) {
  background-color: var(--color-w-3);
}
.card-details {
  &__title-white {
    padding-top: 15px;
    color: var(--color-b-2);
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.25px;
  }

  &__paragraph-white {
    padding-block: 15px;
    font-weight: 300;
    color: var(--color-b-4);
    font-size: 2rem;
    letter-spacing: 0.5px;
  }
}
//hirai container
.hirai-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "item1"
    "item2";
  justify-content: center;
  align-items: center;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: item2;
  }
  &__picture {
    & img {
      width: 100vh;
      @media only screen and (max-width: $bp-medium-mb) {
        width: 95vh;
        margin: 0 auto;
        display: none;
        grid-area: item1;
      }
    }
  }
  .img-mobile-momo {
    display: flex;
  }
}
.hirai-card {
  &__title {
    font-size: 6.4rem;
    letter-spacing: -0.5px;
    font-weight: 500;
    margin-bottom: 60px;
    margin-left: -5px;

    @media only screen and (max-width: $bp-medium) {
      font-size: 4rem;
    }
    @media only screen and (max-width: $bp-medium-mb) {
      margin: 0px;
      margin-top: 30px;
    }
  }
  &__paragraph {
    margin-left: 90px;
    font-size: 1.85rem;
    line-height: 32px;
    max-width: 500px;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.65rem;
    }
    @media only screen and (max-width: $bp-medium-mb) {
      text-align: center;
      margin-left: 0;
    }
  }
  &__button {
    display: inline-block;
    margin-left: 90px;
    margin-top: 45px;
    background-color: var(--color-b-3);
    padding: 20px 60px;
    color: var(--color-w-3);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 2.5px;
    transition: 0.3s;

    @media only screen and (max-width: $bp-medium) {
      padding: 15px 30px;
    }
    @media only screen and (max-width: $bp-medium-mb) {
      margin-left: 0;
    }

    &:hover {
      background-color: var(--color-b-4);
      color: var(--color-w-4);
    }
  }
}
//categories
.categories-container {
  padding: 0px 140px;

  &__text {
    padding-top: 90px;
    padding-bottom: 60px;

    font-size: 5rem;
    letter-spacing: -0.5px;
    font-weight: 500;
  }
  &__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
  }
}
.categories-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-text {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-w-3);
}
//footer
.footer-logo {
  padding-top: 30px;
  padding-bottom: 45px;
}
.footer-container {
  min-width: 250px;

  @media only screen and (max-width: $bp-largest) {
    min-width: 150px;
    margin: 22px;
  }
  &__text {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-w-3);
    letter-spacing: 1.5px;
    font-size: 2rem;
  }
  &__navs {
    padding-block: 15px;
  }
  &__nav {
    list-style: none;
    font-weight: 300;
    color: var(--color-w-2);
    letter-spacing: 3px;
    margin-top: 15px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

//MOBILE MENU
.hamburguer {
  border: none;
  display: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}
.hamburguer::before,
.hamburguer::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
  transition: 0.3s;
  margin-top: 5px;
}

@media only screen and (max-width: $bp-small) {
  .hamburguer {
    display: block;
    z-index: 1;
  }
  .header-nav__user {
    display: none;
  }
  .header-nav__links {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50vw;
    height: 100vh;
    background: var(--color-b-1);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
    z-index: 64;
  }
  .header-nav__links a {
    font-size: 2.6rem;
    opacity: 0;
    padding: 20px;
  }
  .header-nav__links li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  .header-nav__links li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  .header-nav__links li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }
  .header-nav.active .header-nav__links {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .header-nav.active .header-nav__links a {
    opacity: 1;
  }
  .header-nav.active .hamburguer {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
    z-index: 155;
    padding-right: 30px;
  }
  .header-nav.active .hamburguer::before {
    transform: rotate(135deg);
  }
  .header-nav.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
